html
  head
    title Skybet tech test app
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(href='static/style.css', rel='stylesheet')
  body
    if error
        div=error
    else
        form(class='user-form', name='userForm', onsubmit='submitForm(event)')
            table(id='user-table')
                thead
                    tr
                        th First Name
                        th Last Name
                if users
                    tbody(id='user-table-body')
                        each user, index in users
                            tr
                                td 
                                    input(type='text', name='firstname',value=user.firstname)
                                td
                                    input(type='text', name='lastname', value=user.lastname)
                                td
                                    a(href='javascript:void(0)', onclick='removeUser(this)') REMOVE USER
                else
                    tbody(id='user-table-body')
                        tr
                            td 
                                input(type='text', name='firstname',value='')
                            td
                                input(type='text', name='lastname', value='')
                            td
                                a(href='javascript:void(0)', onclick='removeUser(this)') REMOVE USER
            div(class='add-new-user')
                a(href='javascript:void(0)', onclick='addNewUser()') ADD NEW USER
            input(type='submit', value='OK')

            script(src='static/index.js')
