body {
    width: 992px;
    margin: 0 auto;
    font-family: sans-serif;
}

.user-form {
    margin: 20px auto;
    text-align: center;
    table {
        margin: 0 auto;
        td {
            padding: 5px;
            input {
                border: 1px solid #ddd;
                padding: 5px;
            }
        }
    }
    .add-new-user {
        margin-top: 10px;
    }
    input[type='submit'] {
        cursor: pointer;
        margin-top: 15px;
        width: 80px;
        height: 25px;
    }
}

.toast {
    position: fixed;
    bottom: 10;
    right: 10;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    padding: 10px;
    border-radius: 25px;
    .title {
        font-weight: bold;
    }
    &.error {
        background: rgba(155,0,0,0.7)
    }
}